<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            width: 1680px;
            height: 1080px;
            background-color: aliceblue;
        }
        .scroll-text {
            width: 200px;
            height: 100px;
            margin: 0 auto;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            line-height: 100px;
            color: #fff;
            background-color: #000;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    
    <div class="scroll-text">欢迎使用本下载器</div>
    <div>
        
    </div>
</body>
<script>
    
    
</script>
</html>